code/1main.cpp.tex
code/1singleton.cpp.tex
code/1singleton.h.tex
code/2main.cpp.tex
code/2visitor.cpp.tex
code/2visitor.h.tex
code/2visitor2.h.tex
code/3decorator.cpp.tex
code/3decorator.h.tex
code/3main.cpp.tex
code/highlight.sty
