code/diff_c.patch
code/diff_c.patch.tex
code/diff_no_params.patch
code/diff_no_params.patch.tex
code/diff_u.patch
code/diff_u.patch.tex
code/f_modificat.txt.tex
code/f_original.txt.tex
code/highlight.sty
